    <%- layout('layouts/main') %>
    <h1>Signin</h1>
    <form action="/signin" method="post">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit"> Signin </button>
    </form>